.contact-me {
    background-color: #fafafa;
    padding-top: 10vh;
    padding-bottom: 10vh;

    justify-content: center;
    align-items: center;
    text-align: center;

    display: flex;
    flex-direction: column;
}
