@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

.header {
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 95vh;

    background: url("../images/daffa-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Typography */

.text {
    color: white;
}

.skill {
    display: inline;
    font-weight: 700;
}

/* Image */

@-webkit-keyframes swinging {
    0% {
        -webkit-transform: rotate(10deg);
    }
    50% {
        -webkit-transform: rotate(-5deg);
    }
    100% {
        -webkit-transform: rotate(10deg);
    }
}

@keyframes swinging {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

.swingimage {
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-animation: swinging 2s ease-in-out forwards infinite;
    animation: swinging 2s ease-in-out forwards infinite;
}
